<!DOCTYPE html>

<html>
    <!-- Ducks: Yoonah Chang (Yelena), Josephine Lee (Kitty)
       SoftDev pd2
       K19 -- A RESTful Journey Skyward
       2021-11-23
       time spent: 1.0 hours

    -->
    <head>
        <meta charset="utf-8"/>
        <title>NASA API</title>
    </head>

    <body>
        <h1>New Adventures in RESTful APIs with NASA!</h1>
        <h2>Ducks: Yoonah Chang (Yelena), Josephine Lee (Kitty)</h2>
        <img src="{{ pic }}">
        <p>{{ explanation }}</p>
    </body>
</html>
