<!DOCTYPE html>

<!-- 
  Team Whales: Hebe Huang, Josephine Lee, Han Zhang
  SoftDev
  K14: Form and Function
  2021-10-14  
 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h2>
      Team Whales: Hebe Huang, Josephine Lee, Han Zhang
    </h2>

    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>