<!DOCTYPE html>

<!-- 
  Team Whales: Hebe Huang, Josephine Lee, Han Zhang
  SoftDev
  K14: Form and Function
  2021-10-14  
 -->

<html>

  <head>
    <title> RESPONSE </title>
  </head>

  <body>
      <h2>
        Team Whales: Hebe Huang, Josephine Lee, Han Zhang <!-- TNPG+roster -->
      </h2>
    {{ user }} <!-- user input -->
    <br></br>
    {{ method }} <!-- request method used -->
    <br></br>
    Congrats on providing a user! <!-- greeting -->
  </body>

</html>