<!DOCTYPE html>
<html>

  <head>
    <title> Penguins -- Josephine Lee (Kitty), Qina Liu (Minx), Roshani Shrestha (Pete) </title>
  </head>

  <body>
     <h2>Penguins -- Josephine Lee (Kitty), Qina Liu (Minx), Roshani Shrestha (Pete)</h2>
     <br>
     <p>Below you will find a randomly chosen occupation where the results are weighted by the percentage of the U.S. workforce the job comprises.
         The table below the occupation chosen shows the name of the occupation and the corresponding percentage
         of the U.S. workforce it comprises.
     </p>
     <br>
     <h3>Occupation Chosen:</h3>

     <table>
        <tr><th> Job </th> <th> Percentage </th></tr>
        {% for key, value in occupations.items() %}
            <tr><td> {{ key }} </td> <td> {{ value }} </td></tr>
     </table>
     <br>
    {% endfor %}
  </body>

</html>