<!-- 
  The Penguins | Josephine Lee (Kitty), Qina Liu (Nyx), Roshani Shrestha (Pete)
  SoftDev
  K13: Template for Success - Template for app.py 
  2021-10-13 
-->

<!DOCTYPE html>
<html>

  <head>
    <title> {{ foo }} </title>
  </head>

  <body>
      <h1> {{ team }} </h1>
      {{ header }}
      <br> <br>
      Random Occupation: {{ occupation }}
      <br> <br>
     <table>
        <tr><th> Job </th> <th> Percentage </th></tr>
        {% for key, value in data.items() %}
            <tr><td> {{ key }} </td> <td> {{ value }} </td></tr>
        {% endfor %}
     </table>
     <br>
  </body>

</html>