body{
    background-color: gray;
    font-family: Helvetica
}

.content{
    border: 10px solid dimgray
}

#top-heading{
    background-color: lightgray;
    color: white;
    margin: 0;
    text-align: center
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar{
    float: left;
    padding: 0 50px 0 10px
}

.main{
    float: left;
    width: 75%
}

.footer{
    clear: both;
    background-color: #565656;
    font-size: 12px;
    color: gray;
    text-align: right;
    padding: 10px
}